<a href="/index">Fitfolio</a>
<div class="container">

<div class="welcome-user-card">
    <p></p>
    <h2>Welcome back, {{user.userName}}!</h2>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <form class="form new-workout">
        <div class="create-post-card">
            <h3>Get back in the Action!</h3>
            <form>
              <label for="title">Share your workout.</label>
              <input type="text" id="title" name="title" placeholder="What did you do today?">
              
              <label for="content">How'd it go?</label>
              <textarea id="content" name="content" placeholder="Workout details.."></textarea>
          
              <button id="submit-btn" type="submit">Share Post</button>
            </form>
          </div>
      </form>
  </div>
</div>

{{!-- first section that takes each post from database and puts the information in to a card --}}
{{!-- {{#each post}} --}}

{{!-- {{/each}} --}}

<div class="row mt-4 feed-style">
    <div class="col-md-6">
      {{#each feed as |post|}}
          <div class="populate-post-card">
              <h4><a href=""></a>{{post.post_title}}</h4>
              <h4><a href=""></a>{{post.post_body}}</h4>
                  {{#each post.comments as |comment|}}
              <h3><a href=""></a>{{comment.comment_body}}</h3>
              {{/each}}
              {{!-- <form id="comment-form" class="form populate-post"> --}}

                <label for="comment">Share your thoughts!</label>
                <textarea id="comment" name="comment" placeholder="Leave a comment.." data-id="{{post.id}}"></textarea>
                <button id="comment-form" type="button">Submit Comment</button>
                {{!-- </form> --}}
            </div>
            {{/each}}
    </div>
  </div>


  <h4><a href="/feed/{{posts.id}}"></a></h4>

<script src="/js/profile.js"></script>

</div>